#header{
    display: inline-block; 
    margin: 10px; 
}
#title{
    display: inline-block; 
    font-size: 32pt; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;  
}
#login{
    display: inline-block; 
}