<div id="nav">
<h3>Click a Story to get started!</h3>
<div id="search">
	<label for="searchstories">Search:</label>
	<input type="text" name="searchstories" id="searchstories" [(ngModel)]="search" (ngModelChange)="filter()" class="input">
	<label for="by">By:</label>
	<select name="filterby" id="filterby" [(ngModel)]="filterparams" (ngModelChange)="filter()" class="input">
		<option value="title">Title</option>
		<option value="author">Author</option>
	</select>
</div>
<div id="storylist">
	<div *ngFor="let story of displayed">
		<p class="titles">Title: <a [routerLink]="['/stories', story._id]">{{story.title}}</a></p>
		<ul>
			<li>By: {{story.author}}</li>
			<li>Entries so far: {{story.entries.length}}</li>
		</ul>
		<hr>
	</div>
</div>
<h3><a [routerLink]="['/stories', 'new']">Or start your own story!</a></h3>
</div>

